---
import GtagScript from '../components/GtagScript.astro';
---

<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>app.t28.dev</title>

  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <link rel="icon" href="/favicon.ico"/>

  <GtagScript/>
</head>
<body>
<main>
  <p>app.t28.dev</p>
</main>
</body>
</html>
